.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .navbar {
        background-color: var(--color-navbar-background);
        padding: var(--spacing-large) var(--spacing-super-large);
    }

    .mainContent {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: var(--spacing-large) var(--spacing-super-large);
        gap: var(--spacing-large);

        .card {
            flex-basis: calc((100% / 3) - 2 * var(--spacing-large));
            flex-grow: 1;

            .imageContainer {
                position: relative;
                height: 20em;

                .flowerImage {
                    object-fit: cover;
                }
            }
        }
    }

    .footer {
        background-color: var(--color-footer-background);
        padding: var(--spacing-large) var(--spacing-super-large);
        color: var(--color-text-white);
    }
}
